body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    margin: 0;
}

.calculator {
    background: #ffe6ec;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 55px;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    color: #000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* BLACK BUTTONS */
button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #000000;
    color: #ffffff;
    transition: 0.2s;
}

button:hover {
    background: #333333;
}

/* ZERO BUTTON */
.zero {
    grid-column: span 2;
}